---
layout: base
---

<div class="site-intro">

   {# {% svg "logo.svg", { class: "logo", title: 'meta.title' | translate, ariaLabel: 'meta.title' | translate, width: 320, height: 111 } %} #}

    {{ content | safe }}

</div>

