<nav class="navigation">
    {% set home = '/' | locale_url | defaultlocaleurl %}
    <a class="site-logo" href="{{ home }}" {% if page.url === home %}aria-current="page"{% endif %} aria-label="{{ 'header.home' | translate }}">
        <span>LOGO JOSKUS SITTEN</span>
    </a>
    <ul class="navigation-menu">
        {% set nav = collections.all | languagefilter | eleventyNavigation %}
        {% set home = '/' | locale_url %}
        {%- for entry in nav %}
        <li>
            <a 
                href="{{ entry.url }}"
                {% if entry.url === page.url or (page.url.startsWith(entry.url) and entry.url !== home) %}aria-current="page"{% endif %}
            >
                {{ entry.title }}
            </a>
        </li>
        {%- endfor %}

    </ul>

    {% include "switch-i18n.njk" %}
</nav>