<nav class="navigation">
    {% set home = '/' | locale_url | defaultlocaleurl %}
    <a class="site-logo" href="{{ home }}" {% if page.url === home %}aria-current="page"{% endif %} aria-label="{{ 'header.home' | translate }}">
      <svg
   width="319.53601"
   height="110.88007"
   viewBox="0 0 84.543903 29.337013"
   version="1.1"
   id="svg1"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <defs
     id="defs1" />
  <g
     id="layer1"
     transform="matrix(0.75,0,0,0.75,-24.083356,-14.554366)">
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:50.8px;font-family:'Droid Sans';-inkscape-font-specification:'Droid Sans';writing-mode:lr-tb;direction:ltr;fill:#000000;stroke-width:0.264583"
       x="29.520311"
       y="58.013832"
       id="text1"><tspan
         id="tspan1"
         style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-family:Caladea;-inkscape-font-specification:'Caladea Bold';stroke-width:0.264583"
         x="29.520311"
         y="58.013832">Stedi</tspan></text>
  </g>
</svg>
    </a>
    <ul class="navigation-menu">
        {% set nav = collections.all | languagefilter | eleventyNavigation %}
        {% set home = '/' | locale_url %}
        {%- for entry in nav %}
        <li>
            <a 
                href="{{ entry.url }}"
                {% if entry.url === page.url or (page.url.startsWith(entry.url) and entry.url !== home) %}aria-current="page"{% endif %}
            >
                {{ entry.title }}
            </a>
        </li>
        {%- endfor %}
        <li><a href="https://github.com/scottsweb/elva" target="_blank">GitHub</a></li>
    </ul>

    {% include "switch-i18n.njk" %}
</nav>